{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form method="post">
        <label for="Crime">Crime</label>
        <br>
        <input type="text" name="Crime"
               placeholder="Message title"
               value="{{ request.form['Crime'] }}"></input>
        <br>

        <label for="Location">Location</label>
        <br>
        <input type="text" name="Location"
               placeholder="Message title"
               value="{{ request.form['Location'] }}"></input>
        <br>
        
        <label for="Time">Time of day</label>
        <br>
        <input type="text" name="Time"
               placeholder="Message title"
               value="{{ request.form['Time'] }}"></input>
        <br>

        <label for="Description">Description</label>
        <br>
        <textarea name="Description"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['Description'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}